<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Simplifi.BankStatementsAPIDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="BankStatementsAPIDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Simplifi.BankStatementsAPIDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BankStatementsAPIDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <Simplifi.BankStatementsAPIDemo.Properties.Settings>
            <setting name="BankStatementsURL" serializeAs="String">
                <value>https://localhost:44301/api</value>
            </setting>
            <setting name="AutoLogin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>user</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>user</value>
            </setting>
            <setting name="ShowErrorMessageDetail" serializeAs="String">
                <value>True</value>
            </setting>
        </Simplifi.BankStatementsAPIDemo.Properties.Settings>
        <BankStatementsAPIDemo.Properties.Settings>
            <setting name="BankStatementsURL" serializeAs="String">
                <value>https://102.67.139.95/bankstatements/api</value>
            </setting>
            <setting name="AutoLogin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>user</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>user</value>
            </setting>
        </BankStatementsAPIDemo.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Simplifi.BankStatementsAPIDemo.Properties.Settings>
            <setting name="SecurityURL" serializeAs="String">
                <value>https://localhost:44347/api</value>
            </setting>
        </Simplifi.BankStatementsAPIDemo.Properties.Settings>
        <BankStatementsAPIDemo.Properties.Settings>
            <setting name="SecurityURL" serializeAs="String">
                <value>https://102.67.139.95/management/api</value>
            </setting>
        </BankStatementsAPIDemo.Properties.Settings>
    </userSettings>
</configuration>