<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BankTransactionManagement.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <BankTransactionManagement.Properties.Settings>
            <setting name="BankStatementsURL" serializeAs="String">
                <value>http://integration.simplifi.solutions:8080/api</value>
            </setting>
            <setting name="AutoLogin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>vreport-stage</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>VFD@nb62pkd</value>
            </setting>
            <setting name="SecurityURL" serializeAs="String">
                <value>http://integration.simplifi.solutions:8080/api</value>
            </setting>
            <setting name="SaveJSON" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowErrorMessageDetail" serializeAs="String">
                <value>True</value>
            </setting>
        </BankTransactionManagement.Properties.Settings>
    </applicationSettings>
</configuration>